.root {
    -fx-font-family: "Arial";
    -fx-background-color: #222;
    -fx-text-fill: white;
}

.label,
.button,
.text-field,
.text-area,
.check-box,
.radio-button {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #555;
}
.button:hover {
    -fx-background-color: #666;
    -fx-cursor: hand;
}


/* Specific applied classes */
.title {
    -fx-font-size: 24px;
}

.main {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.sidebar {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #f00;
    -fx-fill-width: true;
    -fx-max-width: Infinity;
}

.sidebar-item {
    -fx-max-width: Infinity;
}